.avatar {
  border-radius: 150px;
  width: 150px;
  padding: 20px;
  align-self: center;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  max-width: 300px;
}