<h1>Order history</h1>
<ng-container *ngFor="let order of payments">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Order placed | {{order.created | date}}</mat-card-title>
      <mat-card-subtitle>Total: {{order.amount}} {{order.currency}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><mat-icon>{{order.status === 'succeeded' ? 'check_circle' : 'highlight_off'}}</mat-icon><br>Ordered</p>
      <mat-divider></mat-divider>
        <mat-list>
          <div mat-subheader>Order details:</div>
          <mat-list-item *ngFor="let product of order.items">
            <mat-icon matListItemIcon><mat-chip>{{product.quantity}}</mat-chip></mat-icon>
            <div matListItemTitle>{{product.description}}</div>
            <div matListItemLine>{{product.amount_total}} {{product.currency}}</div>
          </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="accent" href="{{order.receipt_url}}" target="_blank">Receipt</a><br>
    </mat-card-actions>
  </mat-card>
  <br>
</ng-container>