<!-- <div *ngIf="!stripeRole"> -->
  <br>
  <mat-button-toggle-group #currency="matButtonToggleGroup" value="usd">
    <mat-button-toggle value="usd">USD</mat-button-toggle>
    <mat-button-toggle value="eur">EUR</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="grid">
    
    <ng-container *ngFor="let item of products">

      <mat-card appearance="outlined" *ngIf="item.currency == currency.value">
        <img mat-card-image src={{item.image}}>
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <a mat-raised-button color="accent" (click)="checkout(item.priceId)">{{ item.price }} {{item.currency | uppercase}} {{item.interval}}</a><br>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar *ngIf="isloading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

    </ng-container>
  </div>

<!-- </div> -->

<div *ngIf="stripeRole">
  <h2>Status</h2>
  <ng-container *ngFor="let item of subscriptions">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-icon mat-card-avatar>{{item.active === true ? 'check_circle' : 'highlight_off'}}</mat-icon>
        <mat-card-title>{{item.name}}</mat-card-title>      
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <p>You are paying: {{ item.price }} {{item.currency | uppercase}}/{{ item.interval }}</p>
        <p>Giving you the role: {{stripeRole}}</p>
        <p>Next payment will be on: {{item.nextPayment | date}}</p>
      </mat-card-actions>
    </mat-card>
    <br>
  </ng-container>
  <a mat-raised-button color="accent" (click)="accessCustomerPortal()">Mannage</a>
</div>