<div>
    <div class="mat-headline-1">It's time to save humanity in us from earth to mars.</div>
    <div class="mat-headline-2">Gathering the next humans on mars.</div>
    <button mat-stroked-button routerLink="/profile">Start building</button>

    <h3>About</h3>
    <p>
        World is always changing, we want to keep the best knowledge towards improve humanity.
        The Future is now, every month a new discover is made: "the house of the future is…", "in the future the energy will be…", "the future of communication will be…"
        20 years ago the future of houses was bionic towers, solar panels on every roof by 2020, futuristic concept cars in every SEMA, …today we are living in the same past with slightly changes to keep selling us the idea of the improvement of society. 
        The Future is now and we are missing it. We have now the technical ability to easily do things that 20 years ago seems impossible, but we are not doing it because we expect that someone somehow make them so we can have it in "the future", lets face it, we will never reach the future, we can only embrace the present and live the "future" now, but we all must to do our task.
    </p>
    <h3>Take the red pill</h3>
    <p>
        If you want a safe place to communicate with kind humans that strive to be the better version of themselves everyday, this is the place.

        Stay up to date about these topics:

        👾 Blockchain | 🔋 Clean energy | 🌱 Hydroponics | 🚙 Electric cars | 🏠 Modular homes | 🚀 Mars

        Choose the red pill to leave behind the world as we know it, and start creating the world as it should be right now. The true world of the future. To stop dreaming about science fiction and start living science fact.
    </p>

    <h3>A big thanks!</h3>
    <p>To everyone of you that wants to join, and is helping us to make the world a better place.</p>

</div>