<div class="beach">
  <div class="home">
      <div class="mat-headline-2">Help restore the sea through a monthly subscription</div>
      <div class="mat-headline-4">For less than the cost of a cup of coffee per month you can become climate positive</div>
      <button mat-stroked-button class="text" routerLink="/user">🌴 join</button>

  <h1>Helpers</h1>

  <!--
  <mat-nav-list role="list">
      <h3 mat-subheader>People supporting the project</h3>

      <mat-list-item *ngFor="let cust of data.customers" [routerLink]="cust.id" role="listitem">
          <mat-icon [ngStyle]="{'background-color': getRandomColor()}" mat-list-icon>account_box</mat-icon>
          <h3>⛱ {{ cust.displayName }}</h3>
      </mat-list-item>
  </mat-nav-list>
-->

</div>
