<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport hasBackdrop="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Welcome 👋
      <a mat-button routerLink="/user" *ngIf="!(user | async) as user" (click)="drawer.close()">Login</a>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/user" *ngIf="(user | async) as user" (click)="drawer.close()">
        <img matListItemAvatar [src]="user.photoURL || 'assets/user.svg'">
        <div matListItemTitle>{{ user.displayName }}</div>
        <div matListItemLine>{{ user.email }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/blog/feed" (click)="drawer.close()">Blog</a>
      <a mat-list-item routerLink="/store" (click)="drawer.close()">Store</a>
      <a mat-list-item routerLink="/youtube" (click)="drawer.close()">Youtube</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/ethtomars" (click)="drawer.close()">
        <div matListItemTitle>👾 eth>to_mars</div>
        <div matListItemLine>Blockchain</div>
      </a>
      <a mat-list-item routerLink="/ethtomars" (click)="drawer.close()">
        <div matListItemTitle>🔋 caelux</div>
        <div matListItemLine>Clean energy</div>
      </a>
      <a mat-list-item routerLink="/ethtomars" (click)="drawer.close()">
        <div matListItemTitle>🚙 lamboXPROJECT</div>
        <div matListItemLine>Electric cars</div>
      </a>
      <a mat-list-item routerLink="/ethtomars" (click)="drawer.close()">
        <div matListItemTitle>😌 nentei</div>
        <div matListItemLine>Mindfulness</div>
      </a>
      <a mat-list-item routerLink="/ethtomars" (click)="drawer.close()">
        <div matListItemTitle>🌱 malamakai</div>
        <div matListItemLine>Hydroponics</div>
      </a>
      <a mat-list-item routerLink="/ethtomars" (click)="drawer.close()">
        <div matListItemTitle>🏠 xtorie</div>
        <div matListItemLine>Modular homes</div>
      </a>

      <!-- <a mat-list-item href="#app-action">Join</a> -->

      <ng-container *ngFor="let page of pages">
        <a mat-list-item routerLink="blog/page/{{page.id}}" (click)="drawer.close()">{{page.title}}</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">{{app}}</span>
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/blog/feed">Blog</a>
        <a mat-button routerLink="/store">Store</a>
        <a mat-button routerLink="/youtube">Youtube</a>
        <!-- <a mat-button href="#app-action">Join</a> -->
        <ng-container *ngFor="let page of pages">
          <a mat-button routerLink="blog/page/{{page.id}}">{{page.title}}</a>
        </ng-container>

        <!-- <a mat-button routerLink="/youtube">Youtube</a> -->
        <!-- <a mat-button routerLink="/gifts">gifts</a> -->
        <!-- <a mat-button href="https://malamakai.etsy.com/" target="_blank">✨ Shop</a> -->
        
        <a mat-button routerLink="/user" *ngIf="!(user | async) as user">Login</a>
        <a mat-mini-fab routerLink="/user" *ngIf="(user | async) as user">
          <img class="avatar" [src]="user.photoURL || 'assets/user.svg'">
        </a>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <!-- 🔥 Use your own links -->
        <a mat-menu-item href="https://github.com/davidmimay/{{app}}" target="_blank">
          <mat-icon>code</mat-icon><span>Code on Github</span>
        </a>
        <a mat-menu-item href="https://climate.stripe.com/W6nkrx" target="_blank">
          <mat-icon>eco</mat-icon><span>Carbon Removal</span>
        </a>
        <a mat-menu-item href="https://youtube.com/channel/UCjoXaFxfiYpVQo8BGj_Glsg" target="_blank">
          <mat-icon>live_tv</mat-icon><span>YouTube channel</span>
        </a>
      </mat-menu>

    </mat-toolbar>
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>