<div class="footer">
  <mat-icon>terminal</mat-icon>
  <p class="mat-subtitle-1">Powered by</p>
  <div class="center">
    <mat-chip-listbox>
      <mat-chip-option>Angular</mat-chip-option>
      <mat-chip-option>Material</mat-chip-option>
      <mat-chip-option>Firebase</mat-chip-option>
      <mat-chip-option>Stripe</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <a mat-raised-button color="primary" href="https://occupymars.web.app" target="_blank"> <mat-icon>rocket_launch</mat-icon>Learn</a>
</div>